<div class="container">
  <div class="homepage-main">
    <div class="homepage-nav">  
      <div class="homepage-nav-left">
        <a href="/project/index.html#/" class="crumbs-text">
          Home
        </a>
        <span class=" crumbs-arrow">•</span>
        <a href="#/user/{{model.user._id}}" class="crumbs-text">
          profile
        </a>
        <span class=" crumbs-arrow">•</span>
        <a class="crumbs-text">
          my brackets
        </a>
      </div>
      <div class="homepage-nav-right">
          <a class="nav-link" href="#/login">
              {{model.user.username}}
          </a>
      </div>
    </div>
    <div class="homepage-top">
      <div class="homepage-existing">
        <div ng-repeat="bracket in model.brackets">
          {{bracket}}
        </div>
      </div>
    </div>
  </div>
</div>  