input {
    margin-bottom: 5px;
}

.btn {
    border-radius: 20px;
}

body {
    padding-top: 60px;
    padding-bottom:60px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.mr-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
}

.mr-widget.mr-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.mr-widget.mr-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn.btn-flickr {
    margin-top: 5px;
    margin-bottom: 5px;
}