.tourney-card-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.tourney-card {
	min-width: 400px;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,.1);
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}	

.tourney-card:hover {
	background-color: rgba(255,255,255,.2);
	cursor: pointer;
	text-decoration: none;
}		

.card-left {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.card-right {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.bracket-title {
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.bracket-type {
	color: rgba(255,255,255,.7);
}

.player-count {
	color: rgba(255,255,255,.7);
}

.bracket-state {
	color: rgba(255,255,255,.7);
	display: flex;
	flex-direction: row;
}

.state-icon {
	margin-right: 5px;
}

.other-title {
    font-weight: 400;
    font-size: 40px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.other-title-2 {
    font-weight: 200;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.match-card-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.match-card {
	min-width: 400px;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,.1);
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}	

.match-card:hover {
	background-color: rgba(255,255,255,.2);
	cursor: pointer;
	text-decoration: none;
}		

.match-card-left {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: row;
	padding: 10px;
	align-items: center;
}

.match-card-right {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.match-title {
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.match-state {
	color: rgba(255,255,255,.7);
	display: flex;
	flex-direction: row;
}

.modal-body-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-body-left {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.modal-body-right {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;

}

.score-btn {
	margin-bottom: 0px;
}

.winner-btns {
	width: 100%;
}

.player-btn {
	width: 50%;
}

.modal-header {
	border: none;
	padding: 10px;
}

.winner-btns {
	padding: 0px 20px;
}

.modal-body-columns {
	padding: 0px 20px;
	margin-bottom: 20px;
}

.modal-content {
	background-color: rgba(63,63,63,1);
	color: white;
	padding: 0px 20px;
}

.player-btn {
	background-color: rgba(255,255,255,.4);
	border: none;
	color: white;
}

.score-btn {
	background-color: rgba(255,255,255,.4);
	border: none;
	color: white;
}

.player-btn:hover {
	background-color: white;
}

.score-btn:hover {
	background-color: white;
}

.modal-footer {
	border: none;
}