.tourney-card-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.tourney-card {
	min-width: 400px;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,.1);
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}	

.tourney-card:hover {
	background-color: rgba(255,255,255,.2);
	cursor: pointer;
	text-decoration: none;
}		

.card-left {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.card-right {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.bracket-title {
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.bracket-type {
	color: rgba(255,255,255,.7);
}

.player-count {
	color: rgba(255,255,255,.7);
}

.bracket-state {
	color: rgba(255,255,255,.7);
	display: flex;
	flex-direction: row;
}

.state-icon {
	margin-right: 5px;
}

.other-title {
    font-weight: 400;
    font-size: 40px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

//matches

.match-card-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.match-card {
	min-width: 400px;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,.1);
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}	

.match-card:hover {
	background-color: rgba(255,255,255,.2);
	cursor: pointer;
	text-decoration: none;
}		

.match-card-left {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: row;
	padding: 10px;
	align-items: center;
}

.match-card-right {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.match-title {
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.match-state {
	color: rgba(255,255,255,.7);
	display: flex;
	flex-direction: row;
}