<div class="container">
    <div class="homepage-main">
        <div class="homepage-nav">
              <div class="homepage-nav-left">
                <a href="/project/index.html#/" class="crumbs-text">
                  Home
                </a>
                <span class=" crumbs-arrow">•</span>
                <a href="#/user/{{model.user._id}}" class="crumbs-text">
                  Profile
                </a>
                <span class=" crumbs-arrow">•</span>
                <a href="#/user/{{model.user._id}}/brackets" class="crumbs-text">
                  My Brackets
                </a>
                <span class=" crumbs-arrow">•</span>
                <a class="crumbs-text">
                  Edit
                </a>
              </div>
            <div class="homepage-nav-right">
                <a class="nav-link" href="#/login">
                    {{model.user.username}}
                </a>
            </div>
        </div>
        <div class="homepage-top">
            <div ng-show="model.success" class="alert alert-success">
                {{model.success}}
            </div>
            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>
            <div class="other-title">
                Edit {{model.bracket.name}}
            </div>
            <input ng-model="name"
                   name="name"
                   class="form-control"
                   placeholder="Player Name"
                   type="text"/>
            <input ng-model="seed"
                   name="seed"
                   class="form-control"
                   placeholder="Player Seed"
                   type="text"/>
            <a ng-click="model.add(name, seed)"
               class="btn btn-primary btn-block">
                Add Participant</a>
            <a ng-click="model.start()"
               class="btn btn-primary btn-block">
                Start Tournament</a>
            <a ng-click="model.delete()"
               class="btn btn-danger btn-block">
                Delete Tournament</a>
        </div>
    </div>
</div>