<div class="container">
  <div class="homepage-main">
    <div class="homepage-nav">  
      <div class="homepage-nav-left">
        <a href="/project/index.html#/" class="crumbs-text">
          Home
        </a>
        <span class=" crumbs-arrow">•</span>
        <a class="crumbs-text">
          Bracket
        </a>
      </div>
      <div class="homepage-nav-right">
          <a class="nav-link" href="#/login">
              {{model.user.username}}
          </a>
      </div>
    </div>
    <div class="homepage-top">
      <div class="other-title">
        {{model.bracket.name}}
      </div>
      <div class="other-title-2">
        Pending Matches
      </div>

      <div class="match-card-list" ng-repeat="match in model.activeMatches">
        <button ng-click="model.showModal(match)" class="tourney-card">
          <div class="match-card-left">
            <div class="match-title">
              {{match.p1Name}}
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="bracket-type">
              vs
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="match-title">
              {{match.p2Name}}
            </div>
          </div>
          <div class="match-card-right">
            <div class="bracket-state">
              <div class="state-icon" ng-switch="match.state">
                <div ng-switch-when="open">
                  <span class="glyphicon glyphicon-time"></span>
                </div>
                <div ng-switch-when="pending">
                  <span class="glyphicon glyphicon-play-circle"></span>
                </div>
                <div ng-switch-when="complete">
                  <span class="glyphicon glyphicon-ok-circle"></span>
                </div>
              </div>
              {{match.state}}
            </div>
          </div>
        </button>
      </div>

      <div ng-show="model.bracket.state == 'awaiting_review'">
        <div class="other-title-2">
          No more pending matches
        </div>
        <a ng-click="model.end()"
           class="btn btn-primary btn-block">
          End Tournament</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-header">
        <h4 class="modal-title">Select Winner</h4>
      </div>
      <div class="btn-group winner-btns">
        <button ng-click="winner = 1" ng-class="{ 'active' : winner == 1 }" class="btn btn-default player-btn"> {{model.activeMatch.p1Name}} </button>
        <button ng-click="winner = 2" ng-class="{ 'active' : winner == 2 }" class="btn btn-default player-btn"> {{model.activeMatch.p2Name}} </button>
      </div>
      <div class="modal-header">
        <h4 class="modal-title">Select Scores</h4>
      </div>
      <div class="modal-body-columns">

        <div class="modal-body-left">
          
          <div class="btn-group-vertical">
            <button ng-click="p1Score = 0" ng-class="{ 'active' : p1Score == 0 }" class="btn btn-default score-btn"> 0 </button>
            <button ng-click="p1Score = 1" ng-class="{ 'active' : p1Score == 1 }" class="btn btn-default score-btn"> 1 </button>
            <button ng-click="p1Score = 2" ng-class="{ 'active' : p1Score == 2 }" class="btn btn-default score-btn"> 2 </button>
            <button ng-click="p1Score = 3" ng-class="{ 'active' : p1Score == 3 }" class="btn btn-default score-btn"> 3 </button>
          </div>
        </div>
        <div class="modal-body-right">
          <div class="btn-group-vertical">
            <button ng-click="p2Score = 0" ng-class="{ 'active' : p2Score == 0 }" class="btn btn-default score-btn"> 0 </button>
            <button ng-click="p2Score = 1" ng-class="{ 'active' : p2Score == 1 }" class="btn btn-default score-btn"> 1 </button>
            <button ng-click="p2Score = 2" ng-class="{ 'active' : p2Score == 2 }" class="btn btn-default score-btn"> 2 </button>
            <button ng-click="p2Score = 3" ng-class="{ 'active' : p2Score == 3 }" class="btn btn-default score-btn"> 3 </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="model.submitMatch()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>