<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                Edit Page
            </a>
            <p class="navbar-text pull-right">
                <button type="submit"
                        form="editPage"
                        ng-click="model.updatePage()"
                        class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form name="editPage" id="editPage" novalidate>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.page.name" required
                   type="text" class="form-control" name="name" id="name" placeholder="Blog Post">
        </div>
        <span ng-show="editPage.$submitted && editPage.name.$invalid">
            Must have a name for the page
        </span>
        <div class="form-group">
            <label for="title">Page Description</label>
            <input ng-model="model.page.description" type="text" class="form-control" id="title" placeholder="Shows Posts">
        </div>
    </form>
    <a ng-click="model.deletePage()"
       class="btn btn-danger btn-block"
       href="#/user/{{model.uid}}/website/{{model.wid}}/page">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
