<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1>Login</h1>
    <form name="loginForm" novalidate>
        <input ng-model="username"
               name="username"
               class="form-control"
               placeholder="username"
               type="text"
               required/>
        <span ng-show="loginForm.$submitted && loginForm.username.$invalid">
            Must have a username to login
        </span>
        <input ng-model="password"
               name="password"
               class="form-control"
               placeholder="password"
               type="password"
               required/>
        <span ng-show="loginForm.$submitted && loginForm.password.$invalid">
            Must have a password to login
        </span>
        <button type="submit"
                ng-click="model.login(username, password)"
                class="btn btn-primary btn-block form-control">Login</button>
    </form>
    <a class="btn btn-success btn-block"
       href="#/register">Register</a>
</div>