<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()"
                   href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-switch="model.widget.widgetType">
        <form ng-switch-when="HEADER">
            <div class="form-group">
                <label for="headname">Name</label>
                <input type="text" class="form-control" id="headname" placeholder="Senate Hearing">
            </div>
            <div class="form-group">
                <label for="headtext">Text</label>
                <input ng-model="model.widget.text"
                       type="text" class="form-control" id="headtext" placeholder="US Senate reaches agreement on new motion.">
            </div>
            <div class="form-group">
                <label for="headsize">Size</label>
                <select ng-model="model.widget.size"
                        class="form-control" id="headsize">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
        </form>
        <form ng-switch-when="YOUTUBE">
            <div class="form-group">
                <label for="ytname">Name</label>
                <input type="text" class="form-control" id="ytname" placeholder="Senate Hearing">
            </div>
            <div class="form-group">
                <label for="yttext">Text</label>
                <input type="text" class="form-control" id="yttext" placeholder="US Senate reaches agreement on new motion.">
            </div>
            <div class="form-group">
                <label for="yturl">URL</label>
                <input ng-model="model.widget.url"
                       type="text" class="form-control" id="yturl" placeholder="http://youtube.com/whahcvkf">
            </div>
            <div class="form-group">
                <label for="ytwidth">Width</label>
                <input ng-model="model.widget.width"
                       type="text" class="form-control" id="ytwidth" placeholder="100%">
            </div>
        </form>
        <form ng-switch-when="IMAGE">
            <div class="form-group">
                <label for="imgname">Name</label>
                <input type="text" class="form-control" id="imgname" placeholder="Senate Hearing">
            </div>
            <div class="form-group">
                <label for="imgtext">Text</label>
                <input type="text" class="form-control" id="imgtext" placeholder="US Senate reaches agreement on new motion.">
            </div>
            <div class="form-group">
                <label for="imgurl">URL</label>
                <input ng-model="model.widget.url"
                       type="text" class="form-control" id="imgurl" placeholder="http://www.senatepic.png">
            </div>
            <div class="form-group">
                <label for="imgwidth">Width</label>
                <input ng-model="model.widget.width"
                       type="text" class="form-control" id="imgwidth" placeholder="100%">
            </div>
        </form>
    </div>

    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="IMAGE">
            <form action="/api/upload" method="post" enctype="multipart/form-data">
                <input  name="myFile"   type="file" class="form-control"/>
                <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
                <input  name="widgetId" value="{{model.widget._id}}"     style="display: none"/>
                <input  name="pid" value="{{model.pid}}"     style="display: none"/>
                <input  name="wid" value="{{model.wid}}"     style="display: none"/>
                <input  name="uid" value="{{model.uid}}"     style="display: none"/>
                <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
            </form>

            <a class="btn btn-primary btn-block btn-flickr"
               href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}/flickr">
                Flickr</a>
        </div>
    </div>

    <a ng-click="model.deleteWidget()"
       class="btn btn-danger btn-block"
       href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>